<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SoEye</title>
    <link rel="icon" type="image/png" href="../static/img/soeye_favicon.png">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>SOEYE</h2>
        <ul>
            <a href="/start"><li>Start</li></a>
            <a href="/report"><li>Report</li></a>
            <a href="/search"><li>Search</li></a>
            <a href="/results"><li>Results</li></a>
            <a href="/about"><li>About</li></a>
        </ul> 
    </div>
    <div class="main_content">
        <div class="header">SoEye - About</div>  
        <div class="info">
            <div class="center">
                <img src="../static/img/soeye_logo_full.png" alt="SoEye logo">
                <br>
                <p>
                    SoEye is a social media forensics tool. It supports the investigation of Reddit and Twitter. It was developed as 
                    group project for CSS453 - Cyber Crimes and Digital Forensics in the first semester of the academic year 2022 
                    at Sirindhorn International Institute of Technology (SIIT), Thammasat University.
                </p>
                <p>
                    <b>Team members:</b>
                    <ul>
                        <li>Annu Maria Keranen (6522808202)</li>
                        <li>Levin Kaus (6522808210)</li>
                        <li>Michiel Thiers (6522808160)</li>
                        <li>Miguel Donas-Botto (6522808327)</li>
                    </ul>
                </p>
                <p><a href="https://github.com/levinKaus/SoEye" target="_blank">GitHub reposotory</a></p>
            </div>  
        </div>
    </div>
</div>
</body>
</html>