<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SoEye</title>
    <link rel="icon" type="image/png" href="../static/img/soeye_favicon.png">
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>SOEYE</h2>
        <ul>
            <li><a href="/start">Start</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/results">Results</a></li>
            <li><a href="/about">About</a></li>
        </ul> 
    </div>
    <div class="main_content">
        <div class="header">SoEye - Report</div>  
        <div class="info">
        <div>
            <p><b><u class="section">Evidence Report for Project: </u></b>{{project_name}}</p>
            <p><b class="subsection">Project Number: </b>{{project_number}}</p>
            <p><b class="subsection">Project Description: </b>{{project_description}}</p>
            <p><b class="subsection">Evidence of Interest:</b></p><p>Toal Evidence Items of Interest: {{interest_number}}</p>
            <p><b class="subsection">This report was created by SoEye</b></p>
        </div>
    </div>
</div>
</body>
</html>