<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SoEye</title>
    <link rel="icon" type="image/png" href="../static/img/soeye_favicon.png">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>SOEYE</h2>
        <ul>
            <a href="/start"><li>Start</li></a>
            <a href="/report"><li>Report</li></a>
            <a href="/search"><li>Search</li></a>
            <a href="/results"><li>Results</li></a>
            <a href="/about"><li>About</li></a>
        </ul> 
    </div>
    <div class="main_content">
        <div class="header">SoEye - Start</div>  
        <div class="info">
            <div class="center">
                <form id="details" action="/set_details" method="POST" class="center-border">
                    <label for="project_number">Project Number:</label>
                    <input type="number" id="project_number" name="project_number"><br><br>
                    <label for="project_name">Project File Name:</label>
                    <input type="text" id="project_name" name="project_name"><br><br>
                    <label for="descrition">Description:</label>
                    <input type="text" id="project_description" name="project_description"><br><br>
                    <button type="submit">Open</button>
                </form>
            </div>
        </div>
    </div>
</div>    
</body>
</html>